body {
    font-family: sans-serif;
    font-size: 16px;
}


:root {
    background-color: lightgray;
}


header {
    position: fixed;
    top: 0px;
    left: 0px;
    inline-size: 100%;
    block-size: 60px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
    background-color: blue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
}


h1 {
    position: absolute;
    top: 0%;
    left: 1%;
    transform: translate(1%, -0%);
    color: yellow;
}


input#searchInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}


div#botoesHeader {
    display: flex;
    flex-wrap: nowrap;

    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
}


div button {
    inline-size:80px;
    block-size:35px;

    background-color: #0000AA;
    color: #FFFFFF;
}


main {
    margin-block-start: 130px;
    margin-inline-start: 40px;
}


div.produto {
    inline-size: 350px;
    block-size: 350px;
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;

    text-align: center;
}


img.produtoImagem {
    margin-inline: 20px;
    margin-block: 20px;
}


h2.produtoNome {
    margin-block: 8px;

    font-size: 1.8rem;
    color: #0000AA
}


p.produtoPreco {
    margin-block: 8px;

    font-size: 2rem;
    font-weight: bold;
    color: #00AA00;
}


p.produtoVendedor {
    margin-block: 8px;

    font-size: 0.9rem;
}


footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    inline-size: 100%;

    background-color: #0000AA;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    
    font-size: 0.7rem;
    text-align: center;
    color: white;
}