body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
:root {
    background-color: lightgray;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    
    background-color: blue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 0px 20px;
}

h1 {
    color: yellow;
}

input#searchInput {
    position: relative;
    left: 250px;
}

div.botoesHeader {
    position: relative;
    left: 600px;
}

main {
    margin-top: 130px;
    margin-left: 40px;
}

div.produto {
    width: 300px;
    height: 300px;

    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;

    text-align: center;
}