body {
    font-family: sans-serif;
    font-size: 16px;
}
:root {
    background-color: lightgray;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    inline-size: 100%;
    block-size: 60px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
    background-color: blue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
}

h1 {
    position: absolute;
    top: 0%;
    left: 1%;
    transform: translate(1%, -0%);
    color: yellow;
}

input#searchInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

div#botoesHeader {
    display: flex;
    flex-wrap: nowrap;

    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
}

main {
    margin-block-start: 130px;
    margin-inline-start: 40px;
}

div.produto {
    inline-size: 300px;
    block-size: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;

    text-align: center;
}
